<%- include('partials/header') %>

<h1 class="mb-4">Dashboard</h1>

<% if (locals.error) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } else { %>
    <h2>Content</h2>
<% } %>

<%- include('partials/footer') %>