</main>
</div>
</div>
<footer class="footer mt-auto py-3 bg-light">
<div class="container text-center">
    <span class="text-muted">&copy; 2024 Bitcircuit - Office 365 Toolkit</span>
</div>
</footer>
</body>
</html>